{% extends 'base.html' %}

{% block title%}
  About
{% endblock%}

{% block head%}
  About
{%endblock%} 

{% block page%}
  About
{%endblock%}

{%block a%}
<a href="#up" title="To Top">
    <i class="bi bi-chevron-double-up"></i>
  </a>
{%endblock%}

{%block p%}
def profile():
<br>

print('''
<br>

Programmer
<br>

reinforcement learning, opencv, deep Q,embeded AI,robotics
<br>

Quantum Computing @ Qiskit
<br>

Ethereum Solidity BlockChain Dev
<br>

White Hat Hacker
<br>

Chess
<br>

Space Exploration
<br>

Reverse/Cure Ageing 
<br>

Futurist
<br>

Brain-Computer Interfaces
<br>

Working on Cognitive Neuroscience in AI,perception,computer vision,consciousness,learning,memory
<br>

''')
<br>

profile()
<br>
{%endblock%}