<!doctype html>
<html lang="en" class="h-100">
  <head>
    <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-6821031546894591"
     crossorigin="anonymous"></script>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="icon" type="image/gif" href="../static/images/200.gif">
    <title>{% block title%} Home{% endblock%}</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.7.2/font/bootstrap-icons.css">
    <link href="https://fonts.googleapis.com/css2?family=Material+Icons"
      rel="stylesheet">

    <style>
      .bd-placeholder-img {
        font-size: 1.125rem;
        text-anchor: middle;
        -webkit-user-select: none;
        -moz-user-select: none;
        user-select: none;
      }

      @media (min-width: 768px) {
        .bd-placeholder-img-lg {
          font-size: 3.5rem;
        }
      }
    </style>

    <link href="../static/cover.css" rel="stylesheet">
  </head>
  
  <body class="d-flex h-100 text-center text-white bg-dark">
    
<div class="cover-container d-flex w-100 h-100 p-3 mx-auto flex-column">
  <header id="up" class="mb-auto">
    <div>
      <h3 class="float-md-start mb-0">{% block page%}Home{%endblock%}</h3>
      <nav class="nav nav-masthead justify-content-center float-md-end">
        <a class="nav-link" aria-current="page" href={{url_for('home')}}><i class="bi bi-house-fill"></i></a>
        <a class="nav-link" aria-current="page" href={{url_for('logout')}}><i class="bi bi-box-arrow-left"></i></a>
        <a class="nav-link" href={{url_for('about')}}><i class="bi bi-robot"></i></a>
        <a class="nav-link" href={{url_for('contact')}}><i class="bi bi-chat-left-text-fill"></i></a>
        <a class="nav-link" href="https://assassin2.myspreadshop.com/"><i class="bi bi-cart-fill"></i></a>
      </nav>
    </div>
  </header>

  <main class="px-3">
    <img src="../static/images/200.gif" class="img-rounded img-responsive" alt="inverse">
    <h1>{% block head%}Cover your page.{% endblock%}</h1>
    <p class="lead">{%block p%}Cover is a one-page template for building simple and beautiful home pages. Download, edit the text, and add your own fullscreen background photo to make it your own.{%endblock%}</p>
  </main>

  <footer class="mt-auto text-white-50">
  {%block a%}
    
  {%endblock%}
    <p><a href="https://twitter.com/Assassi83762414" class="text-white"><i class="bi bi-twitter"></i></a> <a href="https://www.instagram.com/assassin__077/" class="text-white"><i class="bi bi-instagram"></i></a> <a href="https://github.com/assassin65170" class="text-white"><i class="bi bi-github"></i></a> <a href="https://www.youtube.com/channel/UCoBjO3ZylyR9igXujRzQDJw" class="text-white"><i class="bi bi-youtube"></i></a></p>
    <p class="text-center">Copyright Assassin 2022 &copy;</p>
    
  </footer>
</div>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>
 <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-6821031546894591"
     crossorigin="anonymous"></script>
<!-- ad -->
<ins class="adsbygoogle"
     style="display:block"
     data-ad-client="ca-pub-6821031546894591"
     data-ad-slot="6568863884"
     data-ad-format="auto"
     data-full-width-responsive="true"></ins>
<script>
     (adsbygoogle = window.adsbygoogle || []).push({});
</script>
  </body>
</html>
