{% extends 'base.html' %}

{% block title%}
  Contact
{% endblock%}

{% block head%}
 <h1 class="h3 mb-3 font-weight-normal">Contact Me!</h1>
{%endblock%} 

{% block page%}
  Contact
{%endblock%}

{%block a%}
<a href="#up" title="To Top">
    <i class="bi bi-chevron-double-up"></i>
  </a>
{%endblock%}

{%block p%}
<body class="text-center">
    <div class="container-fluid">
        <form method="POST" class="form-register" style="color:white">

            {{form.hidden_tag()}}
            <br>
            {{ form.username.label() }}
            {{ form.username(class="form-control", placeholder="Enter your name") }}

            {{ form.email_address.label() }}
            {{ form.email_address(class="form-control", placeholder="Enter your email") }}

            {{ form.subject.label() }}
            {{ form.subject(class="form-control", placeholder="Type the subject") }}

            {{ form.message.label() }}
            {{ form.message(class="form-control", placeholder="Type your message here...") }}

            <br>

            {{ form.submit(class="btn btn-lg btn-block btn-primary") }}

        </form>
    </div>
</body>
{%endblock%}


